# Ignore paths that contain user-generated content.
trunk/sites/default/files
private
trunk/sites/default/settings.php
resources/html/.sass-cache
.sass-cache
.idea
*.iml
trunk/.htaccess
trunk/slice
*.DS_Store
